ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:white;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 25px 40px;
  text-decoration: none;
}

.home{
  display: inline
}
.name{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
}
.threewords {
  text-shadow: 3px 2px teal;
  text-align: center;
  font-size: 40px;
  margin: 50px;
}
.centermain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
.centermiddle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  margin-bottom: 30px;
}

p {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 20px;
  margin-left:200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.logos {
  display: inline;
  margin-left: 240px;
}
.ig {
  margin-left: 100px;
  margin-right: 150px;
}
.fb{
  margin-right: 150px;
}
h2 {
  text-shadow: 3px 2px 		#8FBC8F;
  text-align: center;
  font-size: 30px;
  margin: 50px;
}
div.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid greenyellow;
}

div.transbox {
  margin: 10px;
  background-color: 	#E6E6FA;
  border: 6px solid lightpink;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 2%;
  color: black;
  font-family: 'Staatliches';
  font-size: 40px;
}
h4{
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 15px;
  margin-top: -30px;
  margin-bottom: 50px;
}